html(manifest="app.manifest")
  head
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="/app/main.css")
    meta(name="google" content="notranslate")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    
  body
    script(type="text/javascript" src="/app/main.js")
